.btn {
    --btn-bg-color: var(--text-color-primary);
    --btn-color: var(--bg-color);
    border: 0;
    

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    border-radius: .5rem;

    font: var(--font-weigth-md) var(--font-size-base)/1.5rem var(--font-family-sans);

    cursor: pointer;

    background: var(--btn-bg-color);
    color: var(--btn-color);
}

.btn:hover {
    --btn-bg-color: linear-gradient(
        90deg,
        var(--brand-color-secondary) 0%,
        var(--brand-color-primary) 100%
    );
    --btn-color: var(--surface-color);

    -webkit-background-clip: initial;
    background-clip: initial;
    color: var(--btn-color);
}

.btn-sm {
    padding: .5rem 1rem;
    font-size: var(--font-size-sm);
}

.btn-md {
    padding: .75rem 1.5rem;
    font-size: var(--font-size-base);
}

.btn-lg {
    padding: 1rem 2rem;
    font-size: 1.125rem;
}

.btn[aria-label] {
    position: relative;

    &::before { /* Vai servir como a borda e a parte preta */
        content: "";
        position: absolute; 
        border-radius: inherit;
        /* inset: 0;  Quando colocamos isso estamos dizendo que todo o botão vai ter a cor colocada abaixo, se colocarmos uma separação mínima, a borda do botão aparecerá */
        inset: 1px;
        background-color: var(--bg-color);
    }

    &::after { /* utiliza para o botão criar um elemento dentro dele */
        content: attr(aria-label); /* essa função pega um atributo, que nesse caso é o "aria-label" e estamos colocando esse atributo no conteúdo do botão */
        background: var(--btn-bg-color); /* Quando adicionameos isso fica um quadrado com a cor definida ao redor do texto */
        -webkit-background-clip: text; /* Por compatibilidade, é necessário usar os dois, o webkit e o noemal */
        background-clip: text; /* Aqui o recorte daquele quadrado é feito ao redor do texto */
        color: transparent;
        position: relative;
        z-index: 1; /* Tanto o position: relative quanto o z-index:1 vão mudar a ordem que os elementos HTML se transpõe, trazendo o label que criamos aqui para camada superior */
    }
}

@media (width >= 80em) {
    .btn-sm {
        padding: .75rem 1.5rem;
        font-size: var(--font-size-base);
    }

    .btn-md {
        padding: 1rem 2rem;
        font-size: 1.125rem;
    }   
}